.App {
  width: 100%;
  height: 100vh;
  display:flex;

}

#leftPanel{
  width: 400px;
  display:flex;
  flex-direction: column;
  box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.12);
  z-index: 10;
  height: 100vh;
}

#tableContainer{
  background-color:red;
  height: calc(100% - 85px);
}
#toggleContainer{
  padding-top:20px;
  align-self: center;
}

.css-1nrlq1o-MuiFormControl-root{
  margin-left: 10px !important
}

#rightPanel{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#headerBar{
  width: 100%;
  height: 70px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#header_text{
  font-size: 36px;
  flex-basis: 33%;
}

#header_spacer{
  flex-basis:33%;
    
}
@media screen and (max-width: 1250px) {
  #header_spacer{
    flex-basis: 0%;
  }
  #header_text{
    flex-basis: 66%;
  }
}


#header_dropdown{
   flex-basis: 33%;
  display: flex;
  justify-content: space-evenly;



}

#svg_container{
  position: absolute;
  right: 100px;
  top: 80px;
}
#Map{
  flex-grow:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider{
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 80%;
  margin-left: 10%
  
}